aiohappyeyeballs
aiohttp
aiohttp-retry
aiosignal
annotated-types
asgiref
asttokens
attrs
certifi
cffi
charset-normalizer
click
cloudinary
comm
cryptography
decorator
Deprecated
dj-database-url
Django
django-cloudinary-storage
django-cors-headers
django-filter
djangorestframework
djangorestframework-simplejwt
dlib
drf-yasg
executing
face-recognition
face_recognition_models
frozenlist
geojson
gmaps
googlemaps
idna
inflection
ipython
ipywidgets
jedi
jupyterlab_widgets
matplotlib-inline
multidict
mysql-connector-python
numpy
packaging
parso
pexpect
Pillow
prompt_toolkit
propcache
ptyprocess
pure_eval
pycparser
pydantic
pydantic_core
Pygments
PyJWT
PyMySQL
python-dotenv
pytz
PyYAML
requests
setuptools
six
sqlparse
stack-data
traitlets
twilio
typing_extensions
uritemplate
urllib3
vonage
vonage-jwt
vonage-utils
wcwidth
widgetsnbextension
wrapt
yarl